lib/solar900/
lib/solar901/
inst/lib/
docs/si/

tests/debug/
tests/debug.tar.gz
tests/output/
tests/input/solar/
tests/release/

*.Rproj
.Rproj.user
.RData
.Rhistory
solareclipser.Rproj

# temp shell scripts
*.sh

inst/doc
/Meta/
/doc/testing*
/doc/
